@model IPagedList<SABLANCE.Models.Customer>

@{
    ViewBag.Title = "Danh sách Khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/customeadmin.css" rel="stylesheet" />


<div class="list-add">
    <div>
        <h2>DANH SÁCH KHÁCH HÀNG</h2>
    </div>
    <button class="Btn" id="addCustomerBtn" data-toggle="modal" data-target="#addCustomerModal">

        <div class="sign">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 72 72">
                <path d="M36,12c13.255,0,24,10.745,24,24c0,13.255-10.745,24-24,24S12,49.255,12,36C12,22.745,22.745,12,36,12z M44,39	c1.657,0,3-1.343,3-3c0-1.657-1.343-3-3-3c-0.329,0-2.426,0-5,0c0-2.574,0-4.672,0-5c0-1.657-1.343-3-3-3c-1.657,0-3,1.343-3,3	c0,0.328,0,2.426,0,5c-2.574,0-4.671,0-5,0c-1.657,0-3,1.343-3,3c0,1.657,1.343,3,3,3c0.329,0,2.426,0,5,0c0,2.574,0,4.672,0,5	c0,1.657,1.343,3,3,3c1.657,0,3-1.343,3-3c0-0.328,0-2.426,0-5C41.574,39,43.671,39,44,39z"></path>
            </svg>
        </div>
        <div class="text">Thêm Khách hàng</div>
    </button>
</div>
<div class="modal" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/Image/logo_sab.png" class="modal-title" style="width: 30%;" />
            </div>
            <div class="modal-body">
                <p style="font-weight: bold; font-size: 20px;">Xóa khách hàng thành công.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="questionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/Image/logo_sab.png" class="modal-title" style="width: 30%;" />
            </div>
            <div class="modal-body">
                <p style="font-weight: bold; font-size: 20px;">Bạn có chắc muốn xóa khách hàng này ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">Có</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal thêm khách hàng -->
<div class="modal fade bd-example-modal-lg" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateViewModalLabel" style="font-weight: bold; font-size: 18px;">Thêm Khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="CreateViewModalContent">

            </div>
        </div>
    </div>
</div>

<!-- Modal chỉnh sửa khách hàng -->
<div class="modal fade bd-example-modal-lg" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="editCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditViewModalLabel" style="font-weight: bold; font-size: 18px;">Chỉnh sửa Thông tin Khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="EditViewModalContent">

            </div>
        </div>
    </div>
</div>

@*Modal chi tiết nhân viên*@


<div class="modal fade bd-example-modal-lg" id="customerDetailModal" tabindex="-1" role="dialog" aria-labelledby="customerDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerDetailModalLabel" style="font-weight: bold; font-size: 18px;">Thông Tin Chi Tiết Khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="customerDetailContent">

            </div>
        </div>
    </div>
</div>
<table id="customer-table" class="table table-bordered table-responsives table-striped">

    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Họ Khách hàng
            </th>
            <th>
                Tên Khách hàng
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Hạng thành viên
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null && Model.Count() > 0)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ID.ToString("0")
                    </td>
                    <td onclick="showCustomerDetail(@item.ID)" class="hover-emdetail">
                        <a data-toggle="modal" data-target="#customerDetailModal" data-id="@item.ID"> @item.LastName</a>
                    </td>
                    <td onclick="showCustomerDetail(@item.ID)" class="hover-emdetail">
                        <a data-toggle="modal" data-target="#customerDetailModal" data-id="@item.ID"> @item.FirstName</a>
                    </td>
                    <td>
                        @if (item.DateOfBirth.HasValue)
                        {
                            @item.DateOfBirth.Value.ToString("dd/MM/yyyy")
                        }
                        else
                        {
                            <a>No date of birth available</a>
                        }
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td style="color: red; font-weight: bold; text-align:center;">
                        @if (item.MemberID.HasValue)
                        {
                            @item.MemberRating.Name
                        }
                    else
                    {
                           <a  style="color: #000; font-style: italic;">Trống</a>
                    }
                    </td>
                    <td>
                        <a onclick="showEditCustomerView(@item.ID);">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,255.99603,255.99603">
                                <g fill="#000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M18,2l-2.41406,2.41406l4,4l2.41406,-2.41406zM14.07617,5.92383l-11.07617,11.07617v4h4l11.07617,-11.07617z"></path></g></g>
                            </svg>
                        </a>
                    </td>
                    <td>
                        <a onclick="showModal(@item.ID);">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,255.99603,255.99603">
                                <g fill="#000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M10,2l-1,1h-6v2h18v-2h-6l-1,-1zM4.36523,7l1.70313,15h11.86328l1.70313,-15z"></path></g></g>
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("ListCustomer",
    new { page, pageSize = 15 }))


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Đặt Popper.js trước Bootstrap.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>



<script>
    $(document).ready(function () {
        // Ẩn modal khi nhấn nút "OK"
        $('#successModal').on('hidden.bs.modal', function () {
            window.location.href = "@Url.Action("ListCustomer", "Customer")";
        });
    });

    function showModal(cusID) {
        $('#confirmDelete').data('cusid', cusID);
        $('#questionModal').modal('show');
    }
    $(document).on('click', '#confirmDelete', function () {
        var ID = $(this).data('cusid');
        // Gọi hàm xóa nhân viên tại đây
        deleteAction(ID);
        // Đóng modal sau khi thực hiện xóa
        $('#questionModal').modal('hide');
    });

    function deleteAction (customerId) {

        $.ajax({
            url: '@Url.Action("DeleteCustomer", "Customer")',
            type: 'POST',
            data: {
                Id: customerId
            },
            success: function (data) {
                if (data.status === 1) {
                    $('#successModal').modal('show');
                } else {
                    // Xử lý trường hợp không thành công nếu cần
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
                alert('Đã có lỗi xảy ra khi xóa khách hàng.');
            }
        });
    }
    $(document).ready(function () {
        $("#addCustomerBtn").click(function () {
            showCreateCustomerView();
        });
    });
    function showCreateCustomerView() {
        // Thực hiện Ajax để lấy thông tin chi tiết nhân viên từ server
        console.log("leeb")
        $.ajax({
            url: '@Url.Action("CreateCustomerView")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#CreateViewModalContent').html(data),
                $('#addCustomerModal').modal('show');
            },
            error: function (xhr, status, error) {
                alert('Đã có lỗi xảy ra khi thêm khách hàng.');
            }
        });
    }
    function showCustomerDetail(customerID) {
        // Thực hiện Ajax để lấy thông tin chi tiết nhân viên từ server
        console.log(customerID)
        $.ajax({
            url: '@Url.Action("GetCustomerDetail")',
            type: 'POST',
            data: {
                Id: customerID
            },
            success: function (data) {
                console.log(data);
                $('#customerDetailContent').html(data);
                $('#customerDetailModal').modal('show');
            },
            error: function (xhr, status, error) {
                alert('Đã có lỗi xảy ra khi lấy thông tin chi tiết khách hàng.');
            }
        });
    }

    function showEditCustomerView(customerID) {

        $.ajax({
            url: '@Url.Action("EditCustomerView")',
            type: 'GET',
            data: {
                Id: customerID
            },
            success: function (data) {
                $('#EditViewModalContent').html(data),
                $('#editCustomerModal').modal('show');
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                alert('Đã có lỗi xảy ra khi lấy thông tin chi tiết khách hàng.');
            }
        });
    }


</script>
