@model List<SABLANCE.Models.ProductDetail>
@{
    var dataColor = ViewBag.Color as List<SABLANCE.Models.Color>;
    var dataSize = ViewBag.Size as SABLANCE.Models.Size;
    var dataPro = ViewBag.DataProductDetail as List<SABLANCE.Models.ProductDetail>;
}

<link href="~/Content/productadmin.css" rel="stylesheet" />
<div class="modal-body" id="EditSizeModalContent">
    <div class="col-lg-12" style="margin-bottom: 10px;">
        <div class="row">

            <div class="col-lg-4" style="align-self: end;">
                <div class="form-group">
                    <label>Mã kích thước <span class="required">*</span></label>
                    <input id="CodeSizes" type="text" class="form-control" value="@dataSize.Code" disabled placeholder="Nhập mã kích thước" />
                    <div id="CodeError" class="error-message" style="color: red; font-size: 11px;"></div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <label>Tên kích thước <span class="required">*</span></label>
                    <input id="ID" name="ID" value="@dataSize.ID" type="text" class="form-control" style="display: none;" />
                    <input id="Name" name="Name" value="@dataSize.Name" type="text" class="form-control" placeholder="Nhập tên kích thước" />
                    <div id="NameError" class="error-message" style="color: red; font-size: 11px;"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" id="edit-size" class="btn btn-primary">Lưu</button>
        </div>
    </div>
    <div class="col-lg-12" style="border-top: 0.2px solid #000; border-bottom: none !important;">
        <div class="row" id="showcus" style="margin-top: 10px;">
            <div class="list-add" style="width:100%;">
                <div>
                    <h2>DANH SÁCH CHI TIẾT SẢN PHẨM</h2>
                </div>
            </div>
            @if (Model.Count > 0)
            {
                <table id="customer-table" class=" col-lg-12 table table-bordered table-responsives table-striped">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Kích thước</th>
                            <th>Đơn giá</th>
                            <th>Tình trạng sản phẩm</th>
                        </tr>
                    </thead>
                    <tbody id="product">
                        @foreach (var item in Model)
                        {
                            <tr id="trow_@item.ID">

                                <td id="proCode" style="width: 15%;">
                                    <input id="CodeProduct" name="CodeProduct" value="@item.Code" type="text" class="form-control" disabled />
                                </td>
                                <td id="proImage" style="width: 30%;">
                                    <div class="col-lg-12 image-group">
                                        <div class="uploadpreview image-upload">
                                            @if (!string.IsNullOrEmpty(item.Image))
                                            {

                                                <img src="~/Image/Product/@item.Image" class="img-em" id="img-Product" />
                                            }
                                            else
                                            {
                                                <img src="~/Image/Product/product.jpg" class="img-em" id="img-Product" />
                                            }
                                        </div>
                                    </div>
                                </td>

                                <td id="proName">
                                    <input id="NameProduct" name="NameProduct" value="@item.Product.Name" type="text" class="form-control" disabled />

                                </td>
                                <td id="proSize">
                                    <div class="input-group">
                                        <select id="Color_@item.ID" name="Color" class="form-control color-select edit-data" disabled>
                                            <option value="0">Chọn màu sắc</option>
                                            @foreach (var color in dataColor)
                                            {
                                                <option value="@color.ID" data-color="@color.Code" @(color.ID == item.ColorID ? "selected" : "")>
                                                    @color.Name
                                                </option>
                                            }
                                        </select>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="color-dot" id="selectedColorDot_@item.ID"></span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td id="proPrices" style="vertical-align: middle;">
                                    <input id="Prices" name="Prices" value="@item.Prices" type="number" class="form-control edit-data" disabled />
                                <td id="proStatus">
                                    <select id="Status" name="Status" class="form-control edit-data" disabled>
                                        <option value="Hàng Mới" @(item.StatusProduct == "Hàng Mới" ? "selected" : "")>Hàng Mới</option>
                                        <option value="Còn hàng" @(item.StatusProduct == "Còn hàng" ? "selected" : "")>Còn hàng</option>
                                        <option value="Sắp hết hàng" @(item.StatusProduct == "Sắp hết hàng" ? "selected" : "")>Sắp hết hàng</option>
                                        <option value="Hết hàng" @(item.StatusProduct == "Hết hàng" ? "selected" : "")>Hết hàng</option>
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            }
            else
            {
                <div class="col-lg-12" style="text-align: center; font-style: italic;">Danh sách sản phẩm trống</div>
            }


        </div>

    </div>
</div>
<script src="~/Scripts/productadmin.js"></script>
<script>
    $(document).ready(function () {
        $('.color-select').change(function () {
            // Lấy giá trị màu sắc đã chọn
            var selectedColor = $(this).find(':selected').data('color');

            // Lấy id của select để xác định span tương ứng
            var selectId = $(this).attr('id');

            // Lấy id của màu sắc từ selectId
            var colorId = selectId.split('_')[1];

            // Tạo id cho span tương ứng
            var spanId = 'selectedColorDot_' + colorId;

            // Cập nhật màu sắc của span
            $('#' + spanId).css('background-color', selectedColor);
        });
        $('.color-select').change();

    });
     $(document).ready(function () {
        function EditSizeAction() {
            if (checkSize()) {
                var ID = $('#ID').val();
                var Code = $('#CodeSizes').val();
                var Name = $('#Name').val();

                $.ajax({
                    url: '@Url.Action("EditSize")',
                    type: 'POST',
                    data: {
                        ID: ID,
                        Code: Code,
                        Name: Name,
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.status == 1) {
                            window.location.href = '@Url.Action("ListSize", "ProductAd")';
                            alert(data.text);
                        } else {
                            alert(data.text);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Đã có lỗi xảy ra cập nhật kích thước.');
                    }
                });
            }
        }


        // Gọi hàm createAction() khi nhấn nút "Thêm khách hàng"
        $('#edit-size').on('click', function (event) {
            EditSizeAction()
        });
    });
</script>
