@model SABLANCE.Models.Order
@{
    var data = ViewBag.OrdersCustomer as SABLANCE.Models.Order;
    var dataOrDetails = ViewBag.OrdersDetailCustomer as List<SABLANCE.Models.OrderDetail>;
    //var dataPoint = ViewBag.Point as SABLANCE.Models.PointDetailed;
    //var dataStatus = ViewBag.OrderStatus as List<SABLANCE.Models.OrderStatusDetail>;
}

<link href="~/Content/orderhistory.css" rel="stylesheet" />
<div class="modal-body" id="OrderDetailContent">
    <div class="col-lg-12" style="border-bottom:0.2px solid; margin-bottom: 10px;">
        <div class="row">

            <div class="col-lg-6" style="align-self: end;">
                <div class="form-group">
                    <label>Số đơn đặt hàng</label>
                    <input id="Code" disabled="disabled" value="@data.OrderNo" name="Code" type="text" class="form-control" />
                    <div id="CodeError" class="error-message" style="color: red; font-size: 11px;"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Khách hàng đặt đơn</label>
                    <input id="NameCustomer" disabled="disabled" name="NameCustomer" value="@data.Customer.LastName @data.Customer.FirstName " type="text" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Địa chỉ </label>
                    @if (!string.IsNullOrEmpty(data.DeliveryAddress))
                    {
                        <textarea id="Address" name="Address" disabled type="text" class="form-control col-lg-12" style="float: none !important;" placeholder="Địa chỉ trống"> @data.DeliveryAddress</textarea>
                    }
                    else
                    {
                        <textarea id="Address" name="Address" disabled type="text" class="form-control col-lg-12" style="float: none !important;" placeholder="Địa chỉ trống"></textarea>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Phương thức thanh toán  </label>
                    <input value="@(data.PaymentMethods != null ? data.PaymentMethods : "Chưa xác định")" class="form-control" disabled />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Ngày đặt hàng  </label>
                    <input value="@data.OrderDate.ToString("dd/MM/yyyy")" class="form-control" disabled />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Số điện thoại </label>
                    <input id="Phone" name="Phone" value="@data.RecipientPhone.Trim()" type="number" maxlength="12" disabled class="form-control" placeholder="Không tìm thấy số điện thoại" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Điểm tích lũy của đơn hàng</label>
                    <input value="@ViewBag.Point" class="form-control" disabled />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <label>Tình trạng đơn hàng</label>
                    <table class="col-lg-12 table table-bordered table-responsives table-striped">
                        <thead>
                            <tr>
                                <th>Tình trạng đơn </th>
                                <th>Ngày xác nhận</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@ViewBag.OrderStatus.Count > 0)
                            {
                                foreach (var item in ViewBag.OrderStatus)
                                {
                                    <tr>
                                        <td>
                                            @item.OrderStatu.Name
                                        </td>
                                        <td>
                                            @item.ConfirmationDate
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>Chưa có tình trạng đơn hàng</td>
                                </tr>

                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Ghi chú đơn hàng </label>
                    <textarea id="Note" name="Note" class="form-control col-lg-12" disabled placeholder="Đơn hàng không có ghi chú">@data.Note</textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-12">
        <div class="row" id="showcus" style="margin-top: 10px;">
            <h3>DANH SÁCH SẢN PHẨM</h3>
            <table id="customer-table" class=" col-lg-12 table table-bordered table-responsives table-striped">
                <thead>
                    <tr>

                        <th>ID </th>
                        <th>Mã mặt hàng</th>
                        <th>Tên mặt hàng</th>
                        <th>Màu sắc</th>
                        <th>Kích thước</th>
                        <th>Số lượng mua</th>
                        <th>Đơn giá</th>
                    </tr>
                </thead>
                <tbody id="cusMem">
                    @if (dataOrDetails.Count > 0)
                    {
                        foreach (var pro in dataOrDetails)
                        {
                            <tr id="trow">
                                <td>@pro.ProductID</td>
                                <td>@pro.ProductDetail.Code</td>
                                <td>@pro.ProductDetail.Product.Name</td>
                                <td style="text-align: center;">
                                    <a style="background-color: @pro.ProductDetail.Color.Code" class="color"> <span class="color-name"></span></a>
                                </td>
                                <td style="text-align: center;">
                                    @if (pro.ProductDetail.SizeID.HasValue)
                                    {
                                        <a>@pro.ProductDetail.Size.Name</a>
                                    }
                                    else
                                    {
                                        <a>SP không bao gồm size</a>
                                    }
                                </td>
                                <td style="text-align: center;">@pro.Quantity</td>
                                <td style="text-align: center;">@pro.Price.ToString("0,0")</td>
                            </tr>

                        }
                    }

                    else
                    {
                        <tr id="trow"> </tr>
                    }
                </tbody>

            </table>
        </div>

        <div class="modal-footer">
            <label>Tổng tiền:<input type="text" disabled value="@data.TotalPayment.Value.ToString("0,0")" class="form-control" id="TotalOrders" /> </label>
        </div>
    </div>
</div>


