
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/policy.css" rel="stylesheet" />
<div class="container-detail">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start">
        <div class="d-flex justify-content-between align-items-stretch right-column-detail">
            <div class="main-news-detail row">
                <div class="col-xl-12">
                    <h3 class="gr-title-news">CHÍNH SÁCH</h3>

                    <h4><strong>CHÍNH SÁCH KHÁCH HÀNG THÂN THIẾT</strong></h4>

                    <p><strong> Để cảm ơn sự ủng hộ và yêu thích của Quý Khách đối với thương hiệu Sablanca, chúng tôi xin gửi đến Quý Khách chương trình ưu đãi dành cho khách hàng thân thiết như sau: </strong></p>
                </div>
                <div class="col-lg-12" id="detail-news">
                    <p>Bạn sẽ trở thành khách hàng thân thiết của Sablanca sau khi mua sản phẩm đầu tiên và để lại thông tin đăng ký bằng số điện thoại. Điểm tích lũy sẽ được xét nâng hạn thẻ thành viên tương ứng.</p><p><img src="https://cdn.sablanca.vn/ImageNews/tintuc%2Fchinh-sach-khach-hang.jpg" alt=""></p><p><em><span style="text-decoration:underline;">Lưu ý:</span></em></p><p>- Ưu đãi sinh nhật áp dụng với hóa đơn nguyên giá và không áp dụng đồng thời cùng các chương trình khuyến mãi khác. Mỗi khách hàng được quyền chọn 1 trong 2 ưu đãi sinh nhật và chỉ sử dụng một lần trong tháng.</p><p>- Chi tiết chương trình Hoàn tiền khi giới thiệu khách hàng mới xem tại <a href="https://sablanca.vn/su-kien-chi-tiet/friendly-cashback---hoan-tien-khong-gioi-han">đây</a>.</p><p>- Các ưu đãi dành cho Khách hàng thân thiết của Sablanca áp dụng cho tất cả hình thức mua hàng tại cửa hàng và online tại website sablanca.vn.</p><p>- Sablanca có thể thay đổi các điều khoản vào bất kỳ thời điểm nào.<br><br>Mọi ý kiến đóng góp và thắc mắc xin liên hệ Sablanca qua Hotline miễn phí 1800 6050 hoặc gửi email về địa chỉ: cs@sablanca.vn.</p><p style="text-align:right;"><em>Xin chân thành cảm ơn!</em></p>
                </div>
            </div>
        </div>

        <div class="detail-left">
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("TermsOfUse", "Policy")">
                        <img src="https://cdn.sablanca.vn/ImageNews/dieu-khoan-su-dung.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <a href="@Url.Action("TermsOfUse", "Policy")">
                        <strong>ĐIỀU KHOẢN SỬ DỤNG</strong>
                    </a>
                    <p>Khi quý khách hàng truy cập vào trang website của chúng tôi có nghĩa là quý khách đồng ý với các điều khoản này.</p>
                </div>
            </div>
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("Delivery", "Policy")">
                        <img src="https://cdn.sablanca.vn/ImageNews/chinh-sach-thanh-toan---van-chuyen.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <a href="@Url.Action("Delivery", "Policy")">
                        <strong>CHÍNH SÁCH THANH TOÁN - VẬN CHUYỂN</strong>
                    </a>
                    <p>Chính sách giao nhận của Sablanca được áp dụng tất cả các đối tượng khách hàng mua sản phẩm của Sablanca qua website sablanca.vn (bao gồm livechat &amp; ...</p>
                </div>
            </div>
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("GiftCard", "Policy")">
                        <img src="https://cdn.sablanca.vn/ImageNews/quy-dinh-su-dung-gift-card-sablanca.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <a href="@Url.Action("GiftCard", "Policy")">
                        <strong>QUY ĐỊNH SỬ DỤNG GIFT CARD SABLANCA</strong>
                    </a>
                    <p>Là quà ý nghĩa mà đơn giản cho những dịp đặc biệt như sinh nhật, những ngày lễ, Tết… dành riêng cho người thương, đối tác thì Gift Card Sablanca sẽ ...</p>
                </div>
            </div>
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("Warranty", "Policy")">
                        <img src="https://cdn.sablanca.vn/ImageNews/chinh-sach-bao-hanh-san-pham-tron-doi.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <a href="@Url.Action("Warranty", "Policy")">
                        <strong>CHÍNH SÁCH BẢO HÀNH SẢN PHẨM TRỌN ĐỜI</strong>
                    </a>
                    <p>Với mong muốn mang đến cho Quý Khách Hàng những dịch vụ hậu mãi tốt nhất, Sablanca áp dụng “Chính sách Bảo Hành Trọn Đời” đối với tất cả sản phẩm.</p>
                </div>
            </div>
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("Exchange", "Policy")">
                        <img src="https://cdn.sablanca.vn/ImageNews/chinh-sach-doi-san-pham-trong-vong-30-ngay.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <a href="@Url.Action("Exchange", "Policy")">
                        <strong>CHÍNH SÁCH ĐỔI SẢN PHẨM TRONG VÒNG 30 NGÀY</strong>
                    </a>
                    <p>Với mong muốn mang đến cho quý khách hàng những dịch vụ hậu mãi tốt nhất, Sablanca áp dụng “Chính sách đổi sản phẩm trong vòng 30 ngày”.</p>
                </div>
            </div>
        </div>
    </div>
</div>

