
@{
    ViewBag.Title = "QUY ĐỊNH SỬ DỤNG GIFT CARD SABLANCA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/policy.css" rel="stylesheet" />

<div class="container-detail">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start">
        <div class="d-flex justify-content-between align-items-stretch right-column-detail">
            <div class="main-news-detail row">
                <div class="col-xl-12">
                    <h3 class="gr-title-news">CHÍNH SÁCH</h3>

                    <h4><strong>QUY ĐỊNH SỬ DỤNG GIFT CARD SABLANCA</strong></h4>

                    <p><strong> Là quà ý nghĩa mà đơn giản cho những dịp đặc biệt như sinh nhật, những ngày lễ, Tết… dành riêng cho người thương, đối tác thì Gift Card Sablanca sẽ là lựa chọn tuyệt vời hơn cả. </strong></p>
                </div>
                <div class="col-lg-12" id="detail-news">
                    <p align="center" style="text-align:left;"><strong><span style="font-size:14.0pt;line-height:107%;font-family:'Arial','sans-serif';"></span></strong>Nếu Quý khách hàng đang tìm kiếm một món quà ý nghĩa mà đơn giản cho những dịp đặc biệt như sinh nhật, những ngày lễ, Tết… hoặc thay lời cảm ơn, chúc mừng... dành riêng cho người thương, đối tác thì Gift Card Sablanca sẽ là lựa chọn tuyệt vời hơn cả.<br></p><p style="text-align:left;"><span style="font-family:'Arial','sans-serif';background:white;"><span><img src="https://cdn.sablanca.vn/ImageNews/2'fix.jpg" alt=""></span></span></p><p style="text-align:left;"><strong style="text-align:justify;"><span style="text-decoration-line:underline;"><span style="font-family:'Arial','sans-serif';">Điều kiện khi mua Gift Card:</span></span></strong></p><ul><li><span style="font-family:'Arial','sans-serif';">- Gift Card được bán tại hệ thống cửa hàng Sablanca và website sablanca.vn.</span></li><li><span style="font-family:'Arial','sans-serif';">- Không được áp dụng chung với thẻ VIP hoặc thẻ đối tác khi mua Gift Card.</span></li><li><span style="font-family:'Arial','sans-serif';">- Không sử dụng Coupon hoặc Gift Card để mua Gift Card.</span></li><li><span style="font-family:'Arial','sans-serif';">- Không áp dụng chính sách đổi trả với Gift Card.</span></li><li><span style="font-family:'Arial','sans-serif';">- Không áp dụng tích lũy điểm khi mua Gift Card.</span></li></ul><p style="text-align:justify;"><span style="font-family:'Arial','sans-serif';"></span><strong><span style="text-decoration:underline;"><span style="font-family:'Arial','sans-serif';">Các loại Gift Card:</span></span></strong></p><p><span style="font-family:'Arial','sans-serif';">Hiện tại Sablanca có 03 loại trị giá của Gift Card: 300.000 vnd, 500.000 vnd và 1.000.000 vnd.</span></p><p style="text-align:justify;"><span style="font-family:'Arial','sans-serif';"></span><strong><span style="text-decoration:underline;"><span style="font-family:'Arial','sans-serif';">Điều kiện sử dụng Gift Card:</span></span></strong></p><ul><li><span style="font-family:'Arial','sans-serif';">- Được sử dụng tại hệ thống cửa hàng Sablanca.</span></li><li><span style="font-family:'Arial','sans-serif';">- Hạn sử dụng: <strong><em>06 tháng</em></strong> kể từ ngày phát hành.</span></li><li><span style="font-family:'Arial','sans-serif';">- Được áp dụng với thẻ VIP hoặc thẻ đối tác cùng các chương trình khuyến mãi khác.</span></li><li><span style="font-family:'Arial','sans-serif';">- Gift Card có giá trị thanh toán như tiền mặt, được kết hợp với các hình thức thanh toán khác khi mua sản phẩm tại cửa hàng.</span></li><li><span style="font-family:'Arial','sans-serif';">- Gift Card chỉ được sử dụng cho 01 lần thanh toán.</span></li><li><span style="font-family:'Arial','sans-serif';">- Gift Card không có giá trị quy đổi thành tiền mặt.</span></li><li><span style="font-family:'Arial','sans-serif';">- Không hoàn lại tiền thừa của Gift Card sau khi thanh toán.</span></li><li><span style="font-family:'Arial','sans-serif';">- Không áp dụng hình thức nạp tiền vào Gift Card.</span></li><li><span style="font-family:'Arial','sans-serif';">- Hình thức tích lũy điểm được áp dụng khi sử dụng Gift Card để thanh toán.</span></li></ul><p style="text-align:justify;"><span style="font-family:'Arial','sans-serif';"></span><span style="font-family:'Arial','sans-serif';">Sablanca có quyền từ chối thanh toán nếu Gift Card không còn nguyên vẹn, bị rách, bị chắp vá, không còn mã số in trên phiếu.</span></p><p style="text-align:justify;"><span style="font-family:'Arial','sans-serif';"></span><span style="font-family:'Arial','sans-serif';">Nếu Qúy khách cần hỗ trợ thêm thông tin vui lòng liên hệ bộ phận Chăm Sóc Khách Hàng qua <strong>Hotline: 1800 6050</strong> (miễn phí) hoặc <strong>Email: </strong></span><a href="mailto:cs@sablanca.vn"><strong><span style="font-family:'Arial','sans-serif';color:windowtext;">cs@sablanca.vn</span></strong></a><strong><span style="font-family:'Arial','sans-serif';">. </span></strong></p><p style="text-align:justify;"><span style="font-family:'Arial','sans-serif';">&nbsp;</span></p>
                </div>
            </div>
        </div>

        <div class="detail-left">
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("TermsOfUse", "Policy")">
                        <img src="https://cdn.sablanca.vn/ImageNews/dieu-khoan-su-dung.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <a href="@Url.Action("TermsOfUse", "Policy")">
                        <strong>ĐIỀU KHOẢN SỬ DỤNG</strong>
                    </a>
                    <p>Khi quý khách hàng truy cập vào trang website của chúng tôi có nghĩa là quý khách đồng ý với các điều khoản này.</p>
                </div>
            </div>
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("Delivery", "Policy")">
                        <img src="https://cdn.sablanca.vn/ImageNews/chinh-sach-thanh-toan---van-chuyen.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <a href="@Url.Action("Delivery", "Policy")">
                        <strong>CHÍNH SÁCH THANH TOÁN - VẬN CHUYỂN</strong>
                    </a>
                    <p>Chính sách giao nhận của Sablanca được áp dụng tất cả các đối tượng khách hàng mua sản phẩm của Sablanca qua website sablanca.vn (bao gồm livechat &amp; ...</p>
                </div>
            </div>
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("Warranty", "Policy")">
                        <img src="https://cdn.sablanca.vn/ImageNews/chinh-sach-bao-hanh-san-pham-tron-doi.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <ahref="@Url.Action("Warranty", "Policy")">
                        <strong>CHÍNH SÁCH BẢO HÀNH SẢN PHẨM TRỌN ĐỜI</strong>
                    </a>
                    <p>Với mong muốn mang đến cho Quý Khách Hàng những dịch vụ hậu mãi tốt nhất, Sablanca áp dụng “Chính sách Bảo Hành Trọn Đời” đối với tất cả sản phẩm.</p>
                </div>
            </div>
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("Policy", "Home")">
                        <img src="https://cdn.sablanca.vn/ImageNews/chinh-sach-khach-hang-than-thiet.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <a href="@Url.Action("Policy", "Home")">
                        <strong>CHÍNH SÁCH KHÁCH HÀNG THÂN THIẾT</strong>
                    </a>
                    <p>Để cảm ơn sự ủng hộ và yêu thích của Quý Khách đối với thương hiệu Sablanca, chúng tôi xin gửi đến Quý Khách chương trình ưu đãi dành cho khách hàng ...</p>
                </div>
            </div>
            <div class="row sub-list">
                <div class="col-md-6">
                    <a href="@Url.Action("Exchange", "Policy")">
                        <img src="https://cdn.sablanca.vn/ImageNews/chinh-sach-doi-san-pham-trong-vong-30-ngay.jpg" alt="NULL">
                    </a>
                </div>
                <div class="col-md-6 discription">
                    <a href="@Url.Action("Exchange", "Policy")">
                        <strong>CHÍNH SÁCH ĐỔI SẢN PHẨM TRONG VÒNG 30 NGÀY</strong>
                    </a>
                    <p>Với mong muốn mang đến cho quý khách hàng những dịch vụ hậu mãi tốt nhất, Sablanca áp dụng “Chính sách đổi sản phẩm trong vòng 30 ngày”.</p>
                </div>
            </div>
        </div>
    </div>
</div>