@model IPagedList<SABLANCE.Models.Promotion>

@{
    ViewBag.Title = "Danh sách Chương trình khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";

}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/promotion.css" rel="stylesheet" />


<div class="list-add">
    <div>
        <h2>DANH SÁCH CHƯƠNG TRÌNH KHUYẾN MÃI</h2>
    </div>
    <button class="Btn" id="addPromotionBtn" data-toggle="modal" data-target="#addPromotionModal">

        <div class="sign">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 72 72">
                <path d="M36,12c13.255,0,24,10.745,24,24c0,13.255-10.745,24-24,24S12,49.255,12,36C12,22.745,22.745,12,36,12z M44,39	c1.657,0,3-1.343,3-3c0-1.657-1.343-3-3-3c-0.329,0-2.426,0-5,0c0-2.574,0-4.672,0-5c0-1.657-1.343-3-3-3c-1.657,0-3,1.343-3,3	c0,0.328,0,2.426,0,5c-2.574,0-4.671,0-5,0c-1.657,0-3,1.343-3,3c0,1.657,1.343,3,3,3c0.329,0,2.426,0,5,0c0,2.574,0,4.672,0,5	c0,1.657,1.343,3,3,3c1.657,0,3-1.343,3-3c0-0.328,0-2.426,0-5C41.574,39,43.671,39,44,39z"></path>
            </svg>
        </div>
        <div class="text">Thêm khuyến mãi</div>
    </button>
</div>
<div class="modal" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/Image/logo_sab.png" class="modal-title" style="width: 30%;" />
            </div>
            <div class="modal-body">
                <p style="font-weight: bold; font-size: 20px;">Xóa sản phẩm thành công.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="questionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/Image/logo_sab.png" class="modal-title" style="width: 30%;" />
            </div>
            <div class="modal-body">
                <p style="font-weight: bold; font-size: 20px;">Bạn có chắc muốn xóa chương trình khuyến mãi này ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">Có</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal thêm sản phẩm -->
<div class="modal fade bd-example-modal-lg" id="addPromotionModal" tabindex="-1" role="dialog" aria-labelledby="addPromotionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateViewModalLabel" style="font-weight: bold; font-size: 20px;">THÊM CHƯƠNG TRÌNH KHUYẾN MÃI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="CreateViewModalContent">

            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="addProductDetailModal" tabindex="-1" role="dialog" aria-labelledby="addProductDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ProductDeatilViewModalLabel" style="font-weight: bold; font-size: 20px;">Thêm mặt hàng của sản phẩm </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ProductDeatilViewModalContent">

            </div>
        </div>
    </div>
</div>

<!-- Modal chỉnh sửa sản phẩm -->
<div class="modal fade bd-example-modal-lg" id="editPromotionModal" tabindex="-1" role="dialog" aria-labelledby="editPromotionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditViewModalLabel" style="font-weight: bold; font-size: 20px;">CHỈNH SỬA CHƯƠNG TRÌNH KHUYẾN MÃI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="EditViewModalContent">

            </div>
        </div>
    </div>
</div>

@*Modal chi tiết CTKM*@


<div class="modal fade bd-example-modal-lg" id="promotionDetailModal" tabindex="-1" role="dialog" aria-labelledby="promotionDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="promotionDetailModalLabel" style="font-weight: bold; font-size: 18px;">THÔNG TIN CHI TIẾT CHƯƠNG TRÌNH KHUYẾN MÃI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="promotionDetailContent">

            </div>
        </div>
    </div>
</div>
<table id="employee-table" class="table table-bordered table-responsives table-striped">

    <thead>
        <tr>
            <th>
                Mã chương trình
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên chương trình khuyến mãi 
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                Số lượng sản phẩm áp dụng
            </th>
            <th>
                Danh mục chương trình
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null && Model.Count > 0)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Code
                        <input id="emId" value="@item.ID" style="display: none;" disabled />
                    </td>
                    <td style="width: 10% !important">
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            <img src="~/Image/Promotion/@item.Image" style="width: 100% !important; " />
                        }
                        else
                        {
                            <img src="~/Image/Promotion/promotion.jpg" style="width: 100% !important; " />
                        }

                    </td>
                    <td onclick="showPromotionDetail(@item.ID)" class="hover-emdetail">
                        <a data-toggle="modal" data-target="#promotionDetailModal" data-id="@item.ID" style="font-size: 18px;"> @item.Title</a>
                    </td>
                    <td>
                        @if (item.StartTime.HasValue)
                        {
                            @item.StartTime.Value.ToString("dd/MM/yyyy")
                        }
                        else
                        {
                            <a>N/A</a>
                        }
                    </td>
                    <td>
                        @if (item.EndTime != null)
                        {
                            @item.EndTime.ToString("dd/MM/yyyy")
                        }
                        else
                        {
                            <a>N/A</a>
                        }
                    </td>
                    <td style="text-align: center; cursor: pointer" onclick="showPromotionDetail(@item.ID)" class="hover-emdetail">
                        <a data-toggle="modal" data-target="#promotionDetailModal" data-id="@item.ID">
                            @(ViewBag.PromotionProductCounts.ContainsKey(item.ID) ? ViewBag.PromotionProductCounts[item.ID] : 0)
                        </a>
                    </td>
                    <td>
                        @item.CategoriesPromotion.Name
                    </td>
                    <td>
                        <a onclick="showEditPromotionView(@item.ID);">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,255.99603,255.99603">
                                <g fill="#000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M18,2l-2.41406,2.41406l4,4l2.41406,-2.41406zM14.07617,5.92383l-11.07617,11.07617v4h4l11.07617,-11.07617z"></path></g></g>
                            </svg>
                        </a>
                    </td>
                    <td>
                        <a onclick="showModal(@item.ID);">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,255.99603,255.99603">
                                <g fill="#000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M10,2l-1,1h-6v2h18v-2h-6l-1,-1zM4.36523,7l1.70313,15h11.86328l1.70313,-15z"></path></g></g>
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("ListPromotion",
    new { page, pageSize = 15 }))

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Đặt Popper.js trước Bootstrap.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>



<script>
     $(document).ready(function () {
        // Ẩn modal khi nhấn nút "OK"
        $('#successModal').on('hidden.bs.modal', function () {
            window.location.href = "@Url.Action("ListPromotion", "Promotion")";
        });
    });

    function showModal(promotionId) {
        $('#confirmDelete').data('promotionId', promotionId);
        $('#questionModal').modal('show');
    }
    $(document).on('click', '#confirmDelete', function () {
        var ID = $(this).data('promotionId');
        // Gọi hàm xóa nhân viên tại đây
        deletePromotion(ID);
        // Đóng modal sau khi thực hiện xóa
        $('#questionModal').modal('hide');
    });

    function deletePromotion (promotionId) {

        $.ajax({
            url: '@Url.Action("DeletePromotion", "Promotion")',
            type: 'POST',
            data: {
                Id: promotionId
            },
            success: function (data) {
                if (data.status === 1) {
                    $('#successModal').modal('show');
                } else {
                    // Xử lý trường hợp không thành công nếu cần
                }
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi nếu cần
            }
        });
    }
    $(document).ready(function () {
        $("#addPromotionBtn").click(function () {
            showCreatePromotionView();
        });
    });
    function showCreatePromotionView() {
        // Thực hiện Ajax để lấy thông tin chi tiết nhân viên từ server
        console.log("leeb")
        $.ajax({
            url: '@Url.Action("CreatePromotionView")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#CreateViewModalContent').html(data),
                $('#addPromotionModal').modal('show');
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                alert('Đã có lỗi xảy ra khi thêm chương trình khuyến mãi.');
            }
        });
    }
    function showPromotionDetail(promotionId) {
        // Thực hiện Ajax để lấy thông tin chi tiết nhân viên từ server
        $.ajax({
            url: '@Url.Action("PromotionDetailView")',
            type: 'POST',
            data: {
                Id: promotionId
            },
            success: function (data) {
                console.log(data);
                $('#promotionDetailContent').html(data);
                $('#promotionDetailModal').modal('show');
            },
            error: function (xhr, status, error) {
                alert('Đã có lỗi xảy ra khi lấy thông tin chi tiết chương trình khuyến mãi.');
            }
        });
    }

    function showEditPromotionView(promotionId) {

        $.ajax({
            url: '@Url.Action("EditPromotionView")',
            type: 'GET',
            data: {
                Id: promotionId
            },
            success: function (data) {
                $('#EditViewModalContent').html(data),
                $('#editPromotionModal').modal('show');
            },
            error: function (xhr, status, error) {
                console.log(error);
                alert('Đã có lỗi xảy ra khi lấy thông tin chi tiết chương trình khuyến mãi.');
            }
        });
    }


</script>