@model SABLANCE.Models.ProductDetail
@{
    var data = ViewBag.ProductDetailsInventory as SABLANCE.Models.ProductDetail;
}


<link href="~/Content/productadmin.css" rel="stylesheet" />
<div class="modal-body" id="productDetailContent">
    @if (data != null)
    {
        <div class="col-lg-12" style="border-bottom:0.2px solid; margin-bottom: 10px;">
            <div class="row">

                <div class="col-lg-4" style="align-self: end;">
                    <div class="form-group">
                        <label>Mã định danh </label>
                        <input id="Code" disabled="disabled" name="Code" value="@data.Product.Code" type="text" class="form-control" />
                        <div id="CodeError" class="error-message" style="color: red; font-size: 11px;"></div>
                    </div>
                </div>
                <div class="col-lg-4" style="align-self: end;">
                    <div class="form-group">
                        <label>Danh mục sản phẩm </label>
                        <input id="CategoriesProductID" value="@data.Product.CategoriesProduct.Name" type="text" disabled class="form-control" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Đơn vị tính</label>
                        <input id="Unit" value="@data.Product.Unit" disabled class="form-control" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Tên sản phẩm  </label>
                        <input id="Name" name="Name" value="@data.Product.Name" type="text" class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Mô tả sản phẩm</label>
                        @if (!string.IsNullOrEmpty(data.Product.Description))
                        {
                            <textarea id="Description" name="Description" class="form-control col-lg-12" disabled>@data.Product.Description</textarea>
                        }
                        else
                        {
                            <input id="Description" name="Description" placeholder="Mô tả sản phẩm trống" type="text" class="form-control" />
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-12" style="border-top: 0.2px solid #000; border-bottom: none !important;">
                <div class="row" id="showcus" style="margin-top: 10px;">
                    <h3>THÔNG TIN CHI TIẾT SẢN PHẨM</h3>
                    <table id="product-table" class=" col-lg-12 table table-bordered table-responsives table-striped">
                        <thead>
                            <tr>

                                <th>Mã định danh </th>
                                <th>Hinh ảnh</th>
                                <th>Màu sắc</th>
                                <th>Kích thước</th>
                                <th>Đơn giá</th>
                                <th>Tình trạng sản phẩm</th>
                            </tr>
                        </thead>
                        <tbody id="product">
                            <tr id="trow">
                                <td id="proCode" style="width: 15%;">
                                    @data.Code
                                <td id="proImage" style="width: 30%;">
                                    <div class="col-lg-12 image-group">
                                        @if (!string.IsNullOrEmpty(data.Image))
                                        {
                                            <div class="uploadpreview image-upload">
                                                <img src="~/Image/Product/@data.Image" class="img-em" id="img-Product" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="uploadpreview image-upload">
                                                <img src="~/Image/Product/product.jpg" class="img-em" id="img-Product" />
                                            </div>
                                        }

                                    </div>
                                </td>
                                <td id="proColor" style="text-align: center;">
                                    @if (data.ColorID.HasValue)
                                    {
                                        <a style="background-color: @data.Color.Code" class="color"> <span class="color-name">@data.Color.Name</span></a>
                                    }
                                    else
                                    {
                                        <a style="background-color: transparent" class="color"> <span class="color-name"></span></a>
                                    }
                                </td>
                                <td id="proSize" style="text-align: center;">
                                    @if (data.SizeID.HasValue)
                                    {
                                        @data.Size.Name
                                    }
                                    else
                                    {
                                        <a style="font-style: italic;">Trống</a>
                                    }
                                </td>
                                <td id="proPrices" style="vertical-align: middle; text-align: center;">
                                    @data.Prices.ToString("0,0 VNĐ")
                                </td>
                                <td id="proStatus" style="text-align: center;">
                                    @data.StatusProduct
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>

                <div class="modal-footer">
                    <button type="button" id="edit-product" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>
    }
            else
            {
                <h3>Không tìm thấy thông tin chi tiết sản phẩm</h3>
            }

</div>







<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" defer></script>
<script src="~/Scripts/productadmin.js"></script>
